{
  "openapi": "3.0.4",
  "info": {
    "title": "UNLTD - BackEnd",
    "description": "Esta seção é destinada aos integradores da Instituição que desejam usufruir das API's disponíveis para o consumo de dados ou para a automação de algumas atividades que são expostas neste barramento de serviços. Para fazer uso das API's disponíveis aqui, é necessário entrar em contato com a Instituição e solicitar a criação de uma credencial de acesso, que depois de criada, a parametrização será encaminhado por e-mail.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://lepta-backend.bit-unltd.com.br",
      "description": "Ambiente de Produção"
    }
  ],
  "paths": {
    "/cobranca/{tituloId}/boleto": {
      "get": {
        "tags": [
          "Cobrança"
        ],
        "summary": "Boleto de Cobrança",
        "description": "Retorna o Boleto para pagamento com os dados de cobrança.",
        "parameters": [
          {
            "name": "tituloId",
            "in": "path",
            "description": "Identificador do Título",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pdf",
            "in": "query",
            "description": "Indica se deverá gerar o PDF do boleto.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados do Boleto para Pagamento."
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos."
          },
          "404": {
            "description": "Boleto não localizado."
          }
        }
      }
    },
    "/debentures/escrituras": {
      "get": {
        "tags": [
          "Debêntures"
        ],
        "summary": "Escrituras de Debêntures",
        "description": "Relaciona todas as escrituras emitidas e cadastradas na Plataforma.",
        "responses": {
          "200": {
            "description": "Relação de Escrituras.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Escritura"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Escritura"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/debentures/escritura/{escrituraId}": {
      "get": {
        "tags": [
          "Debêntures"
        ],
        "summary": "Detalhes da Escritura",
        "description": "Detalhamento de uma determinada Escritura, incluindo suas séries.",
        "parameters": [
          {
            "name": "escrituraId",
            "in": "path",
            "description": "Identificador da Escritura",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da Escritura.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Escritura"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Escritura"
                }
              }
            }
          },
          "404": {
            "description": "Escritura não localizada."
          }
        }
      }
    },
    "/debentures/escritura/{escrituraId}/subscricoes": {
      "get": {
        "tags": [
          "Debêntures"
        ],
        "summary": "Subscrições da Escritura",
        "description": "Relação de todas as subscrições realizadas na Escritura.",
        "parameters": [
          {
            "name": "escrituraId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscrições da Escritura.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscricao"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscricao"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Escritura não localizada."
          }
        }
      }
    },
    "/entidades/pf": {
      "post": {
        "tags": [
          "Entidades"
        ],
        "summary": "Adição de Pessoa Física",
        "description": "Comando para adição de Pessoa Física no cadastro de entidades da Plataforma.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PessoaFisica"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PessoaFisica"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PessoaFisica"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Entidade cadastrada com sucesso."
          },
          "400": {
            "description": "Os dados informados não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "419": {
            "description": "A pessoa física já está cadastrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "500": {
            "description": "Falha interna na execução da requisição."
          }
        }
      }
    },
    "/entidades/pj": {
      "post": {
        "tags": [
          "Entidades"
        ],
        "summary": "Adição de Empresa",
        "description": "Comando para adição de Empresa no cadastro de entidades da Plataforma.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empresa"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Empresa"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Empresa"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Entidade cadastrada com sucesso."
          },
          "400": {
            "description": "Os dados informados não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "419": {
            "description": "A empresa já está cadastrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "500": {
            "description": "Falha interna na execução da requisição."
          }
        }
      }
    },
    "/entidades/cliente": {
      "post": {
        "tags": [
          "Entidades"
        ],
        "summary": "Adição de Cliente",
        "description": "Endpoint para a criação de novos clientes. Trata-se de uma funcionalidade equivalente à \"Proposta Expressa\", que dá um by-pass em toda a esteira de crédito.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cliente"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Cliente"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Cliente"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cliente incluído com sucesso."
          },
          "400": {
            "description": "Os dados informados não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "500": {
            "description": "Falha interna na execução da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/entidades/{documento}": {
      "get": {
        "tags": [
          "Entidades"
        ],
        "summary": "Detalhes da Entidade",
        "description": "Detalhes de uma determinada entidade cadastrada na Plataforma.",
        "parameters": [
          {
            "name": "documento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entidade localizada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entidade"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entidade"
                  }
                }
              }
            }
          },
          "400": {
            "description": "O documento informado não é válido."
          },
          "404": {
            "description": "Nenhuma entidade foi encontrada."
          }
        }
      }
    },
    "/entidades/cliente/{documento}": {
      "get": {
        "tags": [
          "Entidades"
        ],
        "summary": "Detalhes do Cliente",
        "description": "Detalhes de um determinado cliente cadastrado na Plataforma.",
        "parameters": [
          {
            "name": "documento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente localizado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cliente"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cliente"
                  }
                }
              }
            }
          },
          "400": {
            "description": "O documento informado não é válido."
          },
          "404": {
            "description": "Nenhuma entidade foi encontrada."
          }
        }
      }
    },
    "/operacoes/credito": {
      "post": {
        "tags": [
          "Operações"
        ],
        "summary": "Emissão de Operação de Crédito",
        "description": "Endpoint para geração de operações de crédito (CCB, CCE, Nota Comercial).",
        "parameters": [
          {
            "name": "autoAprovada",
            "in": "query",
            "description": "Indica se a operação já foi previamente aprovada em outra plataforma.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperacaoDeCredito"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OperacaoDeCredito"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OperacaoDeCredito"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operação incluída com sucesso."
          },
          "400": {
            "description": "Os dados informados não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "500": {
            "description": "Falha interna na execução da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/operacoes/recebivel": {
      "post": {
        "tags": [
          "Operações"
        ],
        "summary": "Envio de Operação com Recebíveis",
        "description": "Integração para envio e geração de operações. Dependendo do ContentType o processamento se comportará de forma diferente: quando se tratar de text/txt, o conteúdo deve ser um arquivo CNAB; já quando se tratar de application/json, o conteúdo é deserializado em uma classe contendo as propriedades dos títulos; por fim, quando se tratar de application/zip, o conteúdo deverá ser um arquivo compactado com os arquivos XMLs da NF-e dentro.",
        "parameters": [
          {
            "name": "ClienteId",
            "in": "header",
            "description": "Número do Cliente.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ContaOperacionalId",
            "in": "header",
            "description": "Número da Conta Operacional onde a operação deverá ser gerada.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "O arquivo foi enfileirado para processamento."
          },
          "400": {
            "description": "A requisição não está de acordo com o esperado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "404": {
            "description": "A Conta Operacional não foi localizada."
          },
          "500": {
            "description": "Falha interna na execução da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/operacoes": {
      "post": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Busca de Operações",
        "description": "Endpoint para busca de operações realizadas.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relação de operações encontradas de acordo com os parâmetros de busca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Operacao"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Operacao"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/recompras": {
      "post": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Busca de Recompras",
        "description": "Endpoint para busca de recompras realizadas.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relação de recompras encontradas de acordo com os parâmetros de busca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recompra"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recompra"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/liquidacoes": {
      "post": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Busca de Liquidações",
        "description": "Endpoint para busca de liquidações realizadas.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Busca"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relação de liquidações encontradas de acordo com os parâmetros de busca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Liquidacao"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Liquidacao"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/pagamentosOperacionais": {
      "post": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Busca de Pagamentos Operacionais",
        "description": "Endpoint para busca de pagamentos operacionais.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDePagamentosOperacionais"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDePagamentosOperacionais"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDePagamentosOperacionais"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relação de pagamentos operacionais encontrados de acordo com os parâmetros de busca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PagamentoOperacional"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PagamentoOperacional"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/pagamentosOperacionais/{pagamentoId}": {
      "get": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Detalhes do Pagamento Operacional",
        "description": "Detalhamento do Pagamento Operacional, juntamente com seus itens.",
        "parameters": [
          {
            "name": "pagamentoId",
            "in": "path",
            "description": "Identificador do Pagamento Operacional",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do Pagamento Operacional.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagamentoOperacional"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagamentoOperacional"
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos."
          },
          "404": {
            "description": "Pagamento Operacional não localizado."
          }
        }
      }
    },
    "/recebiveis/titulos": {
      "post": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Busca de Títulos",
        "description": "Endpoint para busca de títulos da carteira.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDeTitulos"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDeTitulos"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDeTitulos"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relação de títulos encontrados de acordo com os parâmetros de busca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Titulo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Titulo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/operacoes/{id}": {
      "get": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Detalhes da Operação",
        "description": "Endpoint para busca os detalhes da Operação.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados da Operação e seus respectivos títulos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operacao"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operacao"
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "404": {
            "description": "A Operação informada não foi localizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/recompras/{id}": {
      "get": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Detalhes da Recompra",
        "description": "Endpoint para busca os detalhes da Recompra.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados da Recompra e seus respectivos títulos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recompra"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recompra"
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "404": {
            "description": "A Recompra informada não foi localizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/liquidacoes/{id}": {
      "get": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Detalhes da Liquidação",
        "description": "Endpoint para busca os detalhes da Liquidação.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados da Liquidação e seus respectivos títulos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Liquidacao"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Liquidacao"
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "404": {
            "description": "A Liquidação informada não foi localizada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/recebiveis/contagrafica/{id}/extrato": {
      "post": {
        "tags": [
          "Recebíveis"
        ],
        "summary": "Extrato de Conta Gráfica",
        "description": "Endpoint para busca de títulos da carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDeLancamentos"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDeLancamentos"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuscaDeLancamentos"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relação de lançamentos encontrados de acordo com os parâmetros de busca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lancamento"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lancamento"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Os parâmetros de busca não estão válidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          },
          "404": {
            "description": "A conta informada não foi localizada ou não há lançamentos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Falha"
                }
              }
            }
          }
        }
      }
    },
    "/riscosacado/adesao": {
      "post": {
        "tags": [
          "Risco Sacado"
        ],
        "summary": "Adesão de Fornecedor",
        "description": "Inclusão do Fornecedor para a realização de Antecipação de Recebíveis via Risco Sacado.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdesaoDeFornecedor"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AdesaoDeFornecedor"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AdesaoDeFornecedor"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "O fornecedor foi criado com sucesso."
          }
        }
      }
    },
    "/riscosacado/operacao": {
      "post": {
        "tags": [
          "Risco Sacado"
        ],
        "summary": "Importação de Operação",
        "description": "Recebimento de operação já calculada externamente para inclusão e trânsito na esteira de aprovação.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperacaoDeRiscoSacado"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OperacaoDeRiscoSacado"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OperacaoDeRiscoSacado"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A operação foi criada com sucesso."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdesaoDeFornecedor": {
        "type": "object",
        "properties": {
          "entidade": {
            "$ref": "#/components/schemas/Entidade"
          },
          "documentoDoAncora": {
            "type": "string",
            "description": "CNPJ/CPF do Sacado Âncora.",
            "nullable": true
          },
          "documentoDaUnidadeAdministrativa": {
            "type": "string",
            "description": "CNPJ do FIDC ou Securitizadora.",
            "nullable": true
          },
          "contaOperacionalId": {
            "type": "integer",
            "description": "Número da Conta Operacional de Risco Sacado.",
            "format": "int32"
          },
          "recebivel": {
            "type": "string",
            "description": "DM ou DS.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Status da Adesão: Pendente, Ativa ou Dispensada.",
            "nullable": true
          },
          "favorecido": {
            "$ref": "#/components/schemas/ContaBancaria"
          }
        },
        "additionalProperties": false,
        "description": "Dados para adesão de Fornecedor."
      },
      "Busca": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "tipoDeData": {
            "type": "string",
            "description": "Cadastro e Efetivacao.",
            "nullable": true
          },
          "dataInicial": {
            "type": "string",
            "description": "Data Inicial do Período.",
            "format": "date-time",
            "nullable": true
          },
          "dataFinal": {
            "type": "string",
            "description": "Data Final do Período.",
            "format": "date-time",
            "nullable": true
          },
          "documentoDoCliente": {
            "type": "string",
            "description": "CNPJ/CPF do Cliente.",
            "nullable": true
          },
          "documentoDaUnidadeAdministrativa": {
            "type": "string",
            "description": "CNPJ da Unidade Administrativa.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BuscaDeLancamentos": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "dataInicial": {
            "type": "string",
            "description": "Data Inicial do Período.",
            "format": "date-time"
          },
          "dataFinal": {
            "type": "string",
            "description": "Data Final do Período.",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "Parâmetros para Busca de Lançamentos."
      },
      "BuscaDePagamentosOperacionais": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "tipoDeData": {
            "type": "string",
            "description": "Cadastro e Pagamento.",
            "nullable": true
          },
          "dataInicial": {
            "type": "string",
            "description": "Data Inicial do Período.",
            "format": "date-time",
            "nullable": true
          },
          "dataFinal": {
            "type": "string",
            "description": "Data Final do Período.",
            "format": "date-time",
            "nullable": true
          },
          "documentoDoCliente": {
            "type": "string",
            "description": "CNPJ/CPF do Cliente.",
            "nullable": true
          },
          "documentoDaUnidadeAdministrativa": {
            "type": "string",
            "description": "CNPJ da Unidade Administrativa.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Analise, Confirmacao, Destinacao, Aprovacao, Registro, Cessao, Formalizacao, Pagamento, Concluido ou Indefinido.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Parâmetros para Busca de Pagamentos Operacionais."
      },
      "BuscaDeTitulos": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "tipoDeData": {
            "type": "string",
            "description": "Emissao, Cadastro, Vencimento, VencimentoEfetivo e Situacao.",
            "nullable": true
          },
          "dataInicial": {
            "type": "string",
            "description": "Data Inicial do Período.",
            "format": "date-time",
            "nullable": true
          },
          "dataFinal": {
            "type": "string",
            "description": "Data Final do Período.",
            "format": "date-time",
            "nullable": true
          },
          "numero": {
            "type": "string",
            "description": "Número do Recebível (Duplicata, Cheque, etc.).",
            "nullable": true
          },
          "documentoDoCliente": {
            "type": "string",
            "description": "CNPJ/CPF do Cliente.",
            "nullable": true
          },
          "documentoDoSacado": {
            "type": "string",
            "description": "CNPJ/CPF do Sacado.",
            "nullable": true
          },
          "siglas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "DM, DS, CN, CH, NP.",
            "nullable": true
          },
          "situacoes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Em Aberto, Liquidado, Liquidado em Cartório, Baixado, Recomprado, Recuperação de Crédito, Pró-Solvendo ou Perda.",
            "nullable": true
          },
          "operacaoId": {
            "type": "integer",
            "description": "Código de identificação da Operação.",
            "format": "int32",
            "nullable": true
          },
          "recompraId": {
            "type": "integer",
            "description": "Código de identificação da Recompra/Liquidação.",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Parâmetros para Busca de Títulos."
      },
      "CarteiraBancaria": {
        "type": "object",
        "properties": {
          "contaBancaria": {
            "$ref": "#/components/schemas/ContaBancaria"
          },
          "codigo": {
            "type": "string",
            "description": "Código da Carteira Bancária.",
            "nullable": true
          },
          "convenio": {
            "type": "string",
            "description": "Número do convênio.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Carteira de Servico Bancário."
      },
      "Cliente": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "entidade": {
            "$ref": "#/components/schemas/Entidade"
          },
          "contasOperacionais": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContaOperacional"
            },
            "nullable": true
          },
          "contasGraficas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContaGrafica"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Dados do Cliente."
      },
      "ContaBancaria": {
        "type": "object",
        "properties": {
          "codigoDoBanco": {
            "type": "string",
            "description": "Código do Banco.",
            "nullable": true
          },
          "codigoDaAgencia": {
            "type": "string",
            "description": "Código da Agência.",
            "nullable": true
          },
          "numeroDaConta": {
            "type": "string",
            "description": "Número da conta (com dígito).",
            "nullable": true
          },
          "nomeDoTitular": {
            "type": "string",
            "description": "Nome Pessoa Física/Jurídica titular da conta.",
            "nullable": true
          },
          "documentoDoTitular": {
            "type": "string",
            "description": "Documento Pessoa Física/Jurídica titular da conta.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Dados da Conta Bancária."
      },
      "ContaGrafica": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "unidadeAdministrativa": {
            "$ref": "#/components/schemas/UnidadeAdministrativa"
          },
          "descricao": {
            "type": "string",
            "description": "Descrição da conta.",
            "nullable": true
          },
          "saldo": {
            "type": "number",
            "description": "Saldo atual.",
            "format": "double"
          },
          "lancamentos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lancamento"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Conta Gráfica para Lançamentos."
      },
      "ContaOperacional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "unidadeAdministrativa": {
            "$ref": "#/components/schemas/UnidadeAdministrativa"
          },
          "produto": {
            "$ref": "#/components/schemas/Produto"
          },
          "sigla": {
            "type": "string",
            "description": "Sigla do Recebível que a conta opera.",
            "nullable": true
          },
          "limite": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "tranche": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Conta para Operações."
      },
      "DadosDoTitulo": {
        "type": "object",
        "properties": {
          "sigla": {
            "type": "string",
            "description": "DM (Duplicata Mercantil) ou DS (Duplicata de Serviço).",
            "nullable": true
          },
          "numero": {
            "type": "string",
            "description": "Número da Duplicata.",
            "nullable": true
          },
          "dataDeEmissao": {
            "type": "string",
            "description": "Data de Emissão.",
            "format": "date-time"
          },
          "dataDeVencimento": {
            "type": "string",
            "description": "Data de Vencimento.",
            "format": "date-time"
          },
          "valorNominal": {
            "type": "number",
            "description": "Valor nominal da Duplicata.",
            "format": "double"
          },
          "valorLiquido": {
            "type": "number",
            "description": "Valor pago, deduzido o juros e a(s) tarifa(s).",
            "format": "double"
          },
          "codigoDoLastro": {
            "type": "string",
            "description": "Código de Lastro (DANFE ou DACTE).",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Dados do Título."
      },
      "Deposito": {
        "type": "object",
        "properties": {
          "contaRecebedora": {
            "$ref": "#/components/schemas/ContaBancaria"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre Depósito Bancário."
      },
      "Empresa": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "documento": {
            "type": "string",
            "description": "CNPJ/CPF.",
            "nullable": true
          },
          "nome": {
            "type": "string",
            "description": "Nome Completo/Razão Social.",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Endereço de E-mail.",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "description": "Número do Telefone.",
            "nullable": true
          },
          "tipo": {
            "type": "string",
            "description": "PJ (Pessoa Jurídica) ou PF (Pessoa Física).",
            "nullable": true
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "grupoEconomico": {
            "$ref": "#/components/schemas/GrupoEconomico"
          },
          "cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "sacado": {
            "$ref": "#/components/schemas/Sacado"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre uma Empresa."
      },
      "Endereco": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "logradouro": {
            "type": "string",
            "description": "Endereço.",
            "nullable": true
          },
          "numero": {
            "type": "string",
            "description": "Número da Residência.",
            "nullable": true
          },
          "complemento": {
            "type": "string",
            "description": "Complemento (Sala, Andar, etc.).",
            "nullable": true
          },
          "bairro": {
            "type": "string",
            "description": "Bairro.",
            "nullable": true
          },
          "localidade": {
            "type": "string",
            "description": "Cidade.",
            "nullable": true
          },
          "estado": {
            "type": "string",
            "description": "UF.",
            "nullable": true
          },
          "cep": {
            "type": "string",
            "description": "CEP (sem formatação).",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Dados do Endereço."
      },
      "Entidade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "documento": {
            "type": "string",
            "description": "CNPJ/CPF.",
            "nullable": true
          },
          "nome": {
            "type": "string",
            "description": "Nome Completo/Razão Social.",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Endereço de E-mail.",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "description": "Número do Telefone.",
            "nullable": true
          },
          "tipo": {
            "type": "string",
            "description": "PJ (Pessoa Jurídica) ou PF (Pessoa Física).",
            "nullable": true
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "grupoEconomico": {
            "$ref": "#/components/schemas/GrupoEconomico"
          },
          "cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "sacado": {
            "$ref": "#/components/schemas/Sacado"
          }
        },
        "additionalProperties": false,
        "description": "Entidade que define os dados de uma pessoa física ou jurídica."
      },
      "Escritura": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "numeroDeEmissao": {
            "type": "integer",
            "description": "Número da Emissão (sequencial).",
            "format": "int32"
          },
          "dataDeEmissao": {
            "type": "string",
            "description": "Data da Emissão.",
            "format": "date-time"
          },
          "dataDeVencimento": {
            "type": "string",
            "description": "Data do Vencimento.",
            "format": "date-time"
          },
          "quantidadeDeDebentures": {
            "type": "integer",
            "description": "Quantidade de Debêntures.",
            "format": "int32"
          },
          "valorUnitarioMinimo": {
            "type": "number",
            "description": "Valor unitário mínimo.",
            "format": "double"
          },
          "valorUnitarioMaximo": {
            "type": "number",
            "description": "Valor unitário máximo.",
            "format": "double"
          },
          "valorTotal": {
            "type": "number",
            "description": "Valor total da Escritura.",
            "format": "double"
          },
          "quantidadeDeDebenturesSubscritas": {
            "type": "integer",
            "description": "Quantidade atualmente subscrita.",
            "format": "int32"
          },
          "totalDeDebenturesSubscritas": {
            "type": "number",
            "description": "Total atualmente subscrito.",
            "format": "double"
          },
          "quantidadeDeSeries": {
            "type": "integer",
            "description": "Quantidade de séries.",
            "format": "int32"
          },
          "emitente": {
            "$ref": "#/components/schemas/Entidade"
          },
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Serie"
            },
            "description": "Relação de séries.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Escritura de Debênture."
      },
      "Falha": {
        "type": "object",
        "properties": {
          "acao": {
            "type": "string",
            "description": "Nome da Ação.",
            "nullable": true
          },
          "inconsistencias": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Relação das inconsistências.",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false,
        "description": "Detalhes da Falha."
      },
      "GrupoEconomico": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "nome": {
            "type": "string",
            "description": "Nome do Grupo.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Grupo econômico para agrupamento de entidades."
      },
      "Investidor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "entidade": {
            "$ref": "#/components/schemas/Entidade"
          }
        },
        "additionalProperties": false,
        "description": "Dados do Investidor."
      },
      "ItemDaLiquidacao": {
        "type": "object",
        "properties": {
          "titulo": {
            "$ref": "#/components/schemas/Titulo"
          },
          "valorLiquidado": {
            "type": "number",
            "description": "Valor Liquidado.",
            "format": "double"
          },
          "valorDeBonificacao": {
            "type": "number",
            "description": "Bonificação para diminuir o valor do título.",
            "format": "double"
          },
          "valorDeDesagio": {
            "type": "number",
            "description": "Valor abatido para título a vencer.",
            "format": "double"
          },
          "valorDeJuros": {
            "type": "number",
            "description": "Total de juros aplicado.",
            "format": "double"
          },
          "valorDeMulta": {
            "type": "number",
            "description": "Total de multa aplicada.",
            "format": "double"
          },
          "tarifaDeBaixa": {
            "type": "number",
            "description": "Tarifa de baixa.",
            "format": "double"
          },
          "tarifaDeCartorio": {
            "type": "number",
            "description": "Tarifa de sustaçãod de protesto.",
            "format": "double"
          },
          "tarifaDeCartaDeAnuencia": {
            "type": "number",
            "description": "Tarifa de emissão de Carta de Anuência.",
            "format": "double"
          },
          "valorAtualizado": {
            "type": "number",
            "description": "Valor total à pagar.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre o Título."
      },
      "ItemDaOperacao": {
        "type": "object",
        "properties": {
          "titulo": {
            "$ref": "#/components/schemas/Titulo"
          },
          "valorDeAquisicao": {
            "type": "number",
            "description": "Valor pago pelo título.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre o Título."
      },
      "ItemDaRecompra": {
        "type": "object",
        "properties": {
          "titulo": {
            "$ref": "#/components/schemas/Titulo"
          },
          "valorRecomprado": {
            "type": "number",
            "description": "Valor Recomprado.",
            "format": "double"
          },
          "valorDeBonificacao": {
            "type": "number",
            "description": "Bonificação para diminuir o valor do título.",
            "format": "double"
          },
          "valorDeDesagio": {
            "type": "number",
            "description": "Valor abatido para título a vencer.",
            "format": "double"
          },
          "valorDeJuros": {
            "type": "number",
            "description": "Total de juros aplicado.",
            "format": "double"
          },
          "valorDeMulta": {
            "type": "number",
            "description": "Total de multa aplicada.",
            "format": "double"
          },
          "tarifaDeBaixa": {
            "type": "number",
            "description": "Tarifa de baixa.",
            "format": "double"
          },
          "tarifaDeCartorio": {
            "type": "number",
            "description": "Tarifa de sustaçãod de protesto.",
            "format": "double"
          },
          "tarifaDeCartaDeAnuencia": {
            "type": "number",
            "description": "Tarifa de emissão de Carta de Anuência.",
            "format": "double"
          },
          "valorAtualizado": {
            "type": "number",
            "description": "Valor total à pagar.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre o Título."
      },
      "ItemDoPagamento": {
        "type": "object",
        "properties": {
          "operacao": {
            "$ref": "#/components/schemas/Operacao"
          },
          "recompra": {
            "$ref": "#/components/schemas/Recompra"
          },
          "liquidacao": {
            "$ref": "#/components/schemas/Liquidacao"
          },
          "contaGrafica": {
            "$ref": "#/components/schemas/ContaGrafica"
          },
          "contaBancaria": {
            "$ref": "#/components/schemas/ContaBancaria"
          },
          "deposito": {
            "$ref": "#/components/schemas/Deposito"
          },
          "descricao": {
            "type": "string",
            "description": "Descrição do item.",
            "nullable": true
          },
          "valor": {
            "type": "number",
            "description": "Valor disponível para uso.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Detalhes dos itens do pagamento."
      },
      "Lancamento": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "data": {
            "type": "string",
            "description": "Data em que foi realizado o lançamento.",
            "format": "date-time"
          },
          "categoria": {
            "type": "string",
            "description": "Categoria predefinida associada ao lançamento.",
            "nullable": true
          },
          "descricao": {
            "type": "string",
            "description": "Descrição complementar.",
            "nullable": true
          },
          "valor": {
            "type": "number",
            "description": "Valor do Lançamento.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre o lançamento."
      },
      "Liquidacao": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "contaOperacional": {
            "$ref": "#/components/schemas/ContaOperacional"
          },
          "dataDeCadastro": {
            "type": "string",
            "description": "Data do Cadastro na Plataforma.",
            "format": "date-time"
          },
          "efetivada": {
            "type": "boolean",
            "description": "Indica se está ou não efetivada."
          },
          "dataDeEfetivacao": {
            "type": "string",
            "description": "Data da Efetivação.",
            "format": "date-time",
            "nullable": true
          },
          "totalBruto": {
            "type": "number",
            "description": "Total Bruto.",
            "format": "double"
          },
          "totalLiquido": {
            "type": "number",
            "description": "Total Líquido (incluído de todas as custas).",
            "format": "double"
          },
          "quantidadeDeTitulos": {
            "type": "integer",
            "description": "Quantidade de Títulos.",
            "format": "int32"
          },
          "parcial": {
            "type": "boolean",
            "description": "Indica se os títulos estão sendo pagos parcialmente."
          },
          "pagamento": {
            "$ref": "#/components/schemas/PagamentoOperacional"
          },
          "itens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDaLiquidacao"
            },
            "description": "Relação de títulos envolvidos.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Liquidação de Títulos."
      },
      "Operacao": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "contaOperacional": {
            "$ref": "#/components/schemas/ContaOperacional"
          },
          "dataDeCadastro": {
            "type": "string",
            "description": "Data do Cadastro na Plataforma.",
            "format": "date-time"
          },
          "efetivada": {
            "type": "boolean",
            "description": "Indica se a operação está ou não efetivada."
          },
          "dataDeEfetivacao": {
            "type": "string",
            "description": "Data da Efetivação.",
            "format": "date-time",
            "nullable": true
          },
          "totalBruto": {
            "type": "number",
            "description": "Total Bruto.",
            "format": "double"
          },
          "totalLiquido": {
            "type": "number",
            "description": "Total Líquido (deduzido de todas as custas).",
            "format": "double"
          },
          "quantidadeDeTitulos": {
            "type": "integer",
            "description": "Quantidade de Títulos da Operação.",
            "format": "int32"
          },
          "coobrigacao": {
            "type": "boolean",
            "description": "Indica se os títulos da operação foram negociados com ou sem coobrigação."
          },
          "pagamento": {
            "$ref": "#/components/schemas/PagamentoOperacional"
          },
          "itens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDaOperacao"
            },
            "description": "Relação de títulos envolvidos.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Operação Financeira."
      },
      "OperacaoDeCredito": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "devedor": {
            "$ref": "#/components/schemas/Entidade"
          },
          "codigoDoEmissor": {
            "type": "string",
            "description": "Instituição responsável pela emissão.",
            "nullable": true
          },
          "endossante": {
            "$ref": "#/components/schemas/Entidade"
          },
          "contaOperacional": {
            "$ref": "#/components/schemas/ContaOperacional"
          },
          "numero": {
            "type": "string",
            "description": "Número da operação.",
            "nullable": true
          },
          "ipoc": {
            "type": "string",
            "description": "Identificador Padronizado de Operações de Crédito.",
            "nullable": true
          },
          "massificada": {
            "type": "boolean",
            "description": "Indica se o crédito é emitido em ambiente de alta volumetria."
          },
          "data": {
            "type": "string",
            "description": "Data da Operação.",
            "format": "date-time"
          },
          "valorTotal": {
            "type": "number",
            "description": "Valor Total.",
            "format": "double"
          },
          "taxaDeIof": {
            "type": "number",
            "description": "Taxa de IOF aplicada (quando houver).",
            "format": "double"
          },
          "valorDeIof": {
            "type": "number",
            "description": "Total de IOF aplicado (quando houver).",
            "format": "double"
          },
          "valorDaEmissao": {
            "type": "number",
            "description": "Valor cobrado pela Emissão (FEE + Rebate).",
            "format": "double"
          },
          "custoDaEmissao": {
            "type": "number",
            "description": "Valor cobrado pela Instituição pela Emissão (FEE).",
            "format": "double"
          },
          "indiceDeCorrecao": {
            "type": "string",
            "description": "Índice de correção. Exemplo: CDI.",
            "nullable": true
          },
          "fatorDoIndiceDeCorrecao": {
            "type": "number",
            "description": "Fator de correção. Exemplo: 100%.",
            "format": "double"
          },
          "taxaDeJuros": {
            "type": "number",
            "description": "Taxa de juros aplicado à operação.",
            "format": "double"
          },
          "favorecido": {
            "$ref": "#/components/schemas/ContaBancaria"
          },
          "lastro": {
            "type": "string",
            "description": "PDF em Base64 contendo a formalização da operação.",
            "nullable": true
          },
          "fluxoDePagamento": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parcela"
            },
            "description": "Parcelas para pagamento.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Detalhes da Operação de Crédito."
      },
      "OperacaoDeRiscoSacado": {
        "type": "object",
        "properties": {
          "contaOperacionalId": {
            "type": "integer",
            "description": "Número da Conta Operacional de Risco Sacado.",
            "format": "int32"
          },
          "documentoDoAncora": {
            "type": "string",
            "description": "CNPJ/CPF do Sacado Âncora.",
            "nullable": true
          },
          "documentoDoFornecedor": {
            "type": "string",
            "description": "CNPJ/CPF do Fornecedor.",
            "nullable": true
          },
          "favorecido": {
            "$ref": "#/components/schemas/ContaBancaria"
          },
          "taxaDeJuros": {
            "type": "number",
            "description": "Taxa de juros (a.m.) aplicada.",
            "format": "double"
          },
          "taxaEfetiva": {
            "type": "number",
            "description": "CET da Operação.",
            "format": "double"
          },
          "titulos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DadosDoTitulo"
            },
            "description": "Relação dos Títulos envolvidos.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Operação de Risco Sacado."
      },
      "PagamentoOperacional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "dataDaConfeccao": {
            "type": "string",
            "description": "Data em que o Pagamento foi criado.",
            "format": "date-time"
          },
          "cicloDeAprovacao": {
            "type": "integer",
            "description": "Ciclo atual de aprovação.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "Status Atual: Analise, Confirmacao, Destinacao, Aprovacao, Registro, Cessao, Formalizacao, Pagamento e Concluido.",
            "nullable": true
          },
          "cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "unidadeAdministrativa": {
            "$ref": "#/components/schemas/UnidadeAdministrativa"
          },
          "totalDasFontesDeRecurso": {
            "type": "number",
            "description": "Total das Fontes de Recurso.",
            "format": "double"
          },
          "totalDasFormasDePagamento": {
            "type": "number",
            "description": "Total das Formas de Pagamento.",
            "format": "double"
          },
          "fontesDeRecurso": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDoPagamento"
            },
            "description": "Relação de créditos.",
            "nullable": true
          },
          "formasDePagamento": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDoPagamento"
            },
            "description": "Relação de débitos.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Dados do Pagamento Operacional."
      },
      "Parcela": {
        "type": "object",
        "properties": {
          "numero": {
            "type": "string",
            "description": "Número sequencial da parcela.",
            "nullable": true
          },
          "dataDeVencimento": {
            "type": "string",
            "description": "Data de vencimento.",
            "format": "date-time"
          },
          "amortizacao": {
            "type": "number",
            "description": "Valor de amortização do principal. Pode ser zero.",
            "format": "double"
          },
          "juros": {
            "type": "number",
            "description": "Total de juros da parcela.",
            "format": "double"
          },
          "valorDeIof": {
            "type": "number",
            "description": "Valor de IOF da parcela.",
            "format": "double"
          },
          "valorTotal": {
            "type": "number",
            "description": "Total da Parcela.",
            "format": "double"
          },
          "saldoDevedor": {
            "type": "number",
            "description": "Saldo devedor atualizado.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre a parcela."
      },
      "PessoaFisica": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "documento": {
            "type": "string",
            "description": "CNPJ/CPF.",
            "nullable": true
          },
          "nome": {
            "type": "string",
            "description": "Nome Completo/Razão Social.",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Endereço de E-mail.",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "description": "Número do Telefone.",
            "nullable": true
          },
          "tipo": {
            "type": "string",
            "description": "PJ (Pessoa Jurídica) ou PF (Pessoa Física).",
            "nullable": true
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "grupoEconomico": {
            "$ref": "#/components/schemas/GrupoEconomico"
          },
          "cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "sacado": {
            "$ref": "#/components/schemas/Sacado"
          },
          "nacionalidade": {
            "type": "string",
            "description": "Nacionalidade.",
            "nullable": true
          },
          "rg": {
            "type": "string",
            "description": "Número do RG.",
            "nullable": true
          },
          "dataDeEmissaoDoRg": {
            "type": "string",
            "description": "Data de Emissão do RG.",
            "format": "date-time",
            "nullable": true
          },
          "profissao": {
            "type": "string",
            "description": "Profissão.",
            "nullable": true
          },
          "estadoCivil": {
            "type": "string",
            "description": "Opções: Indefinido, Solteiro, Casado, SeparadoJudicialmente, Divorciado, Viuvo ou UniaoEstavel.",
            "nullable": true
          },
          "politicamenteExposta": {
            "type": "string",
            "description": "Opções: Nao, Direta ou Indireta.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Informações sobre uma Pessoa Física."
      },
      "Produto": {
        "type": "object",
        "properties": {
          "descricao": {
            "type": "string",
            "description": "Nome do Produto.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Produto da Institução."
      },
      "Recompra": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "contaOperacional": {
            "$ref": "#/components/schemas/ContaOperacional"
          },
          "dataDeCadastro": {
            "type": "string",
            "description": "Data do Cadastro na Plataforma.",
            "format": "date-time"
          },
          "efetivada": {
            "type": "boolean",
            "description": "Indica se está ou não efetivada."
          },
          "dataDeEfetivacao": {
            "type": "string",
            "description": "Data da Efetivação.",
            "format": "date-time",
            "nullable": true
          },
          "totalBruto": {
            "type": "number",
            "description": "Total Bruto.",
            "format": "double"
          },
          "totalLiquido": {
            "type": "number",
            "description": "Total Líquido (incluído de todas as custas).",
            "format": "double"
          },
          "quantidadeDeTitulos": {
            "type": "integer",
            "description": "Quantidade de Títulos.",
            "format": "int32"
          },
          "parcial": {
            "type": "boolean",
            "description": "Indica se os títulos estão sendo pagos parcialmente."
          },
          "pagamento": {
            "$ref": "#/components/schemas/PagamentoOperacional"
          },
          "itens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDaRecompra"
            },
            "description": "Relação de títulos envolvidos.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Recompra de Títulos."
      },
      "Sacado": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "entidade": {
            "$ref": "#/components/schemas/Entidade"
          }
        },
        "additionalProperties": false,
        "description": "Dados do Sacado."
      },
      "Serie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "descricao": {
            "type": "string",
            "description": "Descrição.",
            "nullable": true
          },
          "indice": {
            "type": "string",
            "description": "Índice de Correção.",
            "nullable": true
          },
          "fator": {
            "type": "number",
            "description": "Fator associado ao Índice.",
            "format": "double"
          },
          "spread": {
            "type": "number",
            "description": "Spread Anual.",
            "format": "double"
          },
          "baseDeDiasParaSpread": {
            "type": "integer",
            "description": "252 ou 360 dias.",
            "format": "int32",
            "nullable": true
          },
          "quantidadeSubscrita": {
            "type": "integer",
            "description": "Quantidade atualmente subscrita.",
            "format": "int32",
            "nullable": true
          },
          "totalSubscrito": {
            "type": "number",
            "description": "Total atualmente subscrito.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Características da Série."
      },
      "Subscricao": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "investidor": {
            "$ref": "#/components/schemas/Investidor"
          },
          "codigo": {
            "type": "string",
            "description": "Código de identificação da subscrição.",
            "nullable": true
          },
          "data": {
            "type": "string",
            "description": "Data da Subscrição.",
            "format": "date-time"
          },
          "quantidadeDeDebentures": {
            "type": "integer",
            "description": "Quantidade subscrita.",
            "format": "int32"
          },
          "quantidadeDeDebenturesAtual": {
            "type": "integer",
            "description": "Quantidade atual.",
            "format": "int32"
          },
          "valor": {
            "type": "number",
            "description": "Valolr da Subscrição.",
            "format": "double"
          },
          "totalBruto": {
            "type": "number",
            "description": "Total Bruto.",
            "format": "double"
          },
          "totalLiquido": {
            "type": "number",
            "description": "Total Líquido (deduzido do IR).",
            "format": "double"
          },
          "status": {
            "type": "string",
            "description": "Status da Subscrição (Pendente, Formalização, Integralizada ou Quitada).",
            "nullable": true
          },
          "dataDoStatus": {
            "type": "string",
            "description": "Data do Status.",
            "format": "date-time"
          },
          "proximoResgate": {
            "type": "string",
            "description": "Data do próximo resgate (controle automático).",
            "format": "date-time",
            "nullable": true
          },
          "serie": {
            "$ref": "#/components/schemas/Serie"
          }
        },
        "additionalProperties": false,
        "description": "Detalhes da Subscrição."
      },
      "Titulo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "contaOperacional": {
            "$ref": "#/components/schemas/ContaOperacional"
          },
          "sacado": {
            "$ref": "#/components/schemas/Sacado"
          },
          "sigla": {
            "type": "string",
            "description": "DM, DS, CH, NP ou CN.",
            "nullable": true
          },
          "numero": {
            "type": "string",
            "description": "Número do Recebível.",
            "nullable": true
          },
          "dataDeEmissao": {
            "type": "string",
            "description": "Data de Emissão do Título.",
            "format": "date-time"
          },
          "dataDeCadastro": {
            "type": "string",
            "description": "Data do Cadastro na Plataforma.",
            "format": "date-time"
          },
          "dataDeVencimento": {
            "type": "string",
            "description": "Data do Vencimento Atual.",
            "format": "date-time"
          },
          "valorNominal": {
            "type": "number",
            "description": "Valor Nominal (Face).",
            "format": "double"
          },
          "valorDoAbatimento": {
            "type": "number",
            "description": "Abatimento Concedido.",
            "format": "double",
            "nullable": true
          },
          "valorDoDesconto": {
            "type": "number",
            "description": "Desconto por pontualidade.",
            "format": "double",
            "nullable": true
          },
          "dataLimiteParaDesconto": {
            "type": "string",
            "description": "Data limite para uso do Desconto.",
            "format": "date-time",
            "nullable": true
          },
          "valorLiquido": {
            "type": "number",
            "description": "Valor Líquido (deduzido de abatimento).",
            "format": "double"
          },
          "valorPresente": {
            "type": "number",
            "description": "Valor de aquisição do título.",
            "format": "double"
          },
          "numeroBancario": {
            "type": "string",
            "description": "Número de registro no Banco Cobrador.",
            "nullable": true
          },
          "carteiraBancaria": {
            "$ref": "#/components/schemas/CarteiraBancaria"
          },
          "situacao": {
            "type": "string",
            "description": "Situação atual do Título.",
            "nullable": true
          },
          "dataDaSituacao": {
            "type": "string",
            "description": "Data da Situação.",
            "format": "date-time"
          },
          "manifesto": {
            "type": "string",
            "description": "Status de Manifesto do Sacado.",
            "nullable": true
          },
          "codigoDoLastro": {
            "type": "string",
            "description": "Código de Identificação do Lastro (DANFE ou DACTE).",
            "nullable": true
          },
          "tags": {
            "type": "string",
            "description": "Informações sistêmicas para integração.",
            "nullable": true
          },
          "registradoNoCobrador": {
            "type": "boolean",
            "description": "Indica se o título está registrado no banco cobrador para emissão de boleto."
          }
        },
        "additionalProperties": false,
        "description": "Dados de um determinado Título."
      },
      "UnidadeAdministrativa": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único.",
            "format": "int32"
          },
          "valido": {
            "type": "boolean",
            "readOnly": true
          },
          "alias": {
            "type": "string",
            "description": "Nome único da Unidade Administrativa.",
            "nullable": true
          },
          "empresa": {
            "$ref": "#/components/schemas/Empresa"
          }
        },
        "additionalProperties": false,
        "description": "Dados da Unidade Administrativa."
      }
    },
    "securitySchemes": {
      "UNLTD-BackEnd": {
        "type": "apiKey",
        "description": "Chave de Integração fornecida pela Instituição.",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "Cobrança"
    },
    {
      "name": "Debêntures"
    },
    {
      "name": "Entidades"
    },
    {
      "name": "Operações"
    },
    {
      "name": "Recebíveis"
    },
    {
      "name": "Risco Sacado"
    }
  ]
}